.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden,
.visible {
  background-color: #ddd;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  &:first-child {
    border-left: 1px solid black;
  }
}

.visible>span {
  animation: makeOpaque linear 0.75s;
}

@keyframes makeOpaque {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.empty+.hidden,
.empty+.visible {
  border-left: 1px solid black;
}

.row:first-child {

  & .hidden,
  & .visible {
    border-top: 1px solid black;
  }
}

.row:last-child {

  & .hidden,
  & .visible {
    border-bottom: 1px solid black;
  }
}
