.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 16px;
  min-width: 16px;
  max-width: 48px;
  max-height: 48px;
  width: 10vw;
  height: 10vw;
  font-size: 5vw;
}

$grid-bg: #ddd;
$grid-correct-bg: #0f0;

.hidden,
.visible {
  background-color: $grid-bg;

}

.visible {
  animation: backgroundChange linear 1.5s;

  &>span {
    animation: makeOpaque linear 1s;
  }
}

@keyframes backgroundChange {

  0%,
  40% {
    background-color: $grid-correct-bg;
  }

  100% {
    background-color: $grid-bg;
  }
}

@keyframes makeOpaque {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.5;

  }

  100% {
    opacity: 1;
  }
}
