$char-border-color: rgb(236, 32, 255);
$char-text-color: rgb(39, 0, 148);

.selector.container {
  width: 0px; // this is needed to allow board to align itself horizontally nicely
}

.charSelect {
  list-style-type: none;
}

.char.container {
  position: absolute;
  font-size: 2.5em;
  border: 1px solid $char-border-color;
  color: $char-text-color;
  transition:
    background-color ease-in-out 0.5s,
    color ease-in-out 0.3s,
    transform ease-in-out 0.3s,
  ;
  left: 50%;
  bottom: 100px;
  cursor: pointer;
  font-family: monospace;
  user-select: none;
  text-transform: capitalize;

  &,
  & .single.char {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  & .single.char {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.selected {
    background-color: blue;
  }
}

.char.connections {
  background-color: chartreuse;
  position: absolute;
  bottom: 10px;
  left: 50.75%;
  transform: translateX(-50%)
}
