$char-border-color: rgb(236, 32, 255);
$char-text-color: rgb(39, 0, 148);

.charSelect {
  list-style-type: none;
}

.char.container {
  position:absolute;
  font-size:3em;
  border:1px solid $char-border-color;
  color: $char-text-color;
  transition:
    background-color ease-in-out 0.5s,
    color ease-in-out 0.3s,
    transform ease-in-out 0.3s,
  ;
  left: 50%;
  bottom: 100px;
  cursor: pointer;
  font-family: monospace;
  user-select: none;
}
.char.container.selected {
  background-color:blue;
}
.char.connections {
  background-color:chartreuse;
  position: absolute;
  bottom:10px;
  left:50.75%;
  transform: translateX(-50%)
}


